.App{
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #001337;
}

#colunaFlex{
  display: flex;
  flex-flow: row;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 650px){
  #colunaFlex{
    flex-flow: column;
    height: calc(100% - 100px);
  }
  
}